language: python
dist: xenial
python:
  - 3.6
  - 3.7
stages:
  - quality
  - test
matrix:
  include:
    - stage: quality
      python: 3.6
      script:
        - make check
        - make doc
install:
  - make init
script:
  - make doctest
  - make coverage
after_success:
  coveralls
